body{
    font-family: 'Segoe UI';
    letter-spacing: 1px;
    
    background-color: white;
    
    color: grey;
}

a{
    text-decoration: none;
}

button{
    border-style:none;
}

button:hover{
    background-color: deepskyblue;
}

table{
    font-size: 9pt;
    border-spacing: 10px;
}

#local, #global{
    position: absolute;
    width: 8%;
    padding: 10px;
    text-align: center;
    z-index: 100;
    top: 30%;
}

#local{
    left: 10;
}

#global{
    right: 10;
}

#lRead, #lWrite, #gRead, #gWrite{
    background-color:lightblue;
    color: grey;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

#lRead:hover, #lWrite:hover, #gRead:hover, #gWrite:hover{
    background-color: deepskyblue;
    color: white;
}

#monitor{
    background-color: lightgrey;
    
    width: 75%;
    height: 85%;
    
    margin: auto;
    
    padding: 20px 20px 0px 20px;
    
    border-radius: 10px;
    
    z-index: 10;
}

#screen{
    background-color: #2a2a2a;
    
    display:block;
    
    height: 87%;
    
    overflow-y: auto;
    
    margin-bottom: 2px;
    
    padding: 20px;
    
    border-radius: 2px;
}

.btn{
    background-color: #d04e4e;
    
    display: inline-block;
    float: right;
    
    margin: 5px;
    
    padding: 10px;
    
    border-radius: 100%;
    
    cursor: pointer;
}

.btn:hover{
    background-color: deepskyblue;
}

#console{
    float:left;
    width: 45%;
    height: 100%;
}

#nodelog, #tclog{
    height: 50%;
    overflow-y: auto;
}

#nodelog{
    padding-bottom: 10px;
}

.node_1, .node_2, .node_3, .tc{
    margin:0;
    
    color:cadetblue;
    text-overflow: wrap;
}

#caret{
    animation: blink 0.8s steps(2, start) infinite;
    -webkit-animation: blink 0.8s steps(2, start) infinite;
}

#stand{
    
    width: 75%;
    height: 20px;
    
    margin: auto;
    margin-top: 3px;
    
    padding: 0px 20px 0px 20px;
    
    border-radius: 5px;
    
    z-index: 10;
    

    border-bottom: 20px solid lightgrey;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 75%;

}

#botStand{
    background-color: #c1c1c1;
    width: 75%;
    height: 5%;
    margin: auto;
    
    border-left: 70px solid #c1c1c1;
    border-right: 70px solid #c1c1c1;
    
    border-radius: 5px;
}

#table-window{
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;
}

#window-topbar{
    background-color: #EEEEEE;
    color:grey;
    font-size: 10pt;
    padding: 5px;
    padding-left:10px;
    
    background: -moz-linear-gradient(bottom, #EEEEEE 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, #EEEEEE 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #EEEEEE 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#window-topbar span{
    margin-left: 10px;
}

.window-btn{
    float: left;
    
    margin-right: 5px;
    margin-top: 4px;
    
    padding: 5px;
    
    border-radius: 100%;
    
    cursor: pointer;
}

#window-close{
    background-color: #FA6152;
}

#window-maximize{
    background-color: #FCBE07;
}

#window-minimize{
    background-color: #13C730;
}

#window-close:hover, #window-maximize:hover, #window-minimize:hover{
    background-color:deepskyblue;
}

#window-content{
    height:93%;
    overflow-y: auto;
    padding-left: 15px;
    font-size: 8pt;
}

@keyframes blink{
    to{visibility:hidden}
}

@-webkit-keyframes blink{
    to{visibility:hidden}
}